<div id="spacingDiv">
    <br>
</div>
<div class="header">
    <h1 class="header">J.A.D.A</h1>
</div>
<div id="popoverDiv">
    <button type="button" class="btn btn-secondary" id="button" data-container="body" data-toggle="popover" data-placement="left" data-popover-content="#unique-id">
        <i id ="deafultIcon" style="font-size: 5em; color:white;"></i>
        <img id="popoverImage" height="75px" width="75px">
        
    </button>


    <div id="unique-id" style="display:block;">
        <div id="popover-heading"></div>
        <div id="popover-body"></div>
    </div>

    <script>
        function getImagePath(){
            let path = "profilePics\\<%= accountInfo.username %>.png"
            return path;
        }
        window.onload = function(){
            if('<%= accountInfo.username %>'!== 'chris.rock' && '<%= accountInfo.username %>'!== 'kobe.bryant' && 
            '<%= accountInfo.username %>'!== 'michael.jordan' && '<%= accountInfo.username %>'!== 'miley.cyrus' &&
            '<%= accountInfo.username %>'!== 'will.smith'){
                // console.log('No image');
                document.getElementById("popoverImage").remove();
                document.getElementById("deafultIcon").setAttribute("class", "fa-solid fa-circle-user");
            }
            else{
                document.getElementById("deafultIcon").remove();
                document.getElementById('popoverImage').src=getImagePath();
            }
            
        };

        $(function() {

            $("[data-toggle=popover]").popover({
                html: true,
                content: function() {
                    var content = $(this).attr("data-popover-content");
                    return $(content).children("#popover-body").html();
                },
                title: function() {
                    var title = $(this).attr("data-popover-content");
                    return $(title).children("#popover-heading").html();
                }
            });
        });
        // Change value for user info 
        document.getElementById("popover-heading").innerHTML = '<%= accountInfo.username %>';
        document.getElementById("popover-body").innerHTML = 'Name: <%= accountInfo.firstName %> <%= accountInfo.lastName %><br>' +
            'Email: <%= accountInfo.email %><br>' +
            'Department: <%= accountInfo.department %><br>' +
            'Tier Level: <%= accountInfo.tierLevel %><br>' +
            '<a href="<%=accountInfo.linkedIn %>">LinkedIn</a>' +
            '<br><br>' +
            '<a href="/logout">Logout</a>'
    </script>
</div>


