<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<script>
    // gets date and sets as a variable and heading for todayDiv
    function getDate(dateVar) {        
        var today = new Date();
        var date = (today.getMonth()+1) + '/' + today.getDate() + '/' + today.getFullYear();
        console.log("Date: ", date)
        dateString = "Today's Date: " + date
        document.getElementById(dateVar).innerHTML = dateString
        return date
}
</script>
<body>

    <header id="headerBlock">
        <%- include('../partials/header'); %>
    </header>

    <div class="menuBar">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/meetings">Meetings</a></li>
            <li><a href="/mentors">Mentors</a></li>
            <li><a href="/chat">Chat</a></li>
        </ul>
    </div>
    <div class="content" id="welcomeBack">
        <p>Welcome Back
            <%= accountInfo.firstName %>
                <%= accountInfo.lastName %>!
        </p>

    </div>

    <span id="separator">
        <div class="content" id="todayDiv">
            <!-- include the upcoming meetings contents -->
            <h3 id="dateId"></h3>
            <script>
                getDate("dateId")
            </script>
            <ul>
                <% if(calendar.length < 1){ %>
                    <li>
                        No upcoming meetings!
                    </li>
                    <% } else{ %>
                        <% calendar.forEach(function(meeting) { %>
                            <li>
                                <%= meeting.month %>/<%= meeting.day %> @ <%= meeting.time %>
                            </li>
                            <% }); %>
                                <% } %>
            </ul>
        </div>
        
        
        <div class="content" id="calenderDiv">
            <!-- include the upcoming meetings contents -->
            <h3>Your Upcoming Meetings</h3>
            <ul>
                <% if(calendar.length < 1){ %>
                    <li>
                        No upcoming meetings!
                    </li>
                    <% } else{ %>
                        <% calendar.forEach(function(meeting) { %>
                            <li>
                                <%= meeting.month %>/<%= meeting.day %> @ <%= meeting.time %>
                            </li>
                            <% }); %>
                                <% } %>
            </ul>
        </div>
        
        <div class="content" id="currentMentorCaseDiv">
            <!-- include the upcoming meetings contents -->
            <h3>You are currently mentoring</h3>
        
        </div>

    </span>

    <div id="widgetBot">
        <widgetbot server="955939246085115944" channel="955939246085115951" width="100%" height="72.5vh"></widgetbot>
        <script src="https://cdn.jsdelivr.net/npm/@widgetbot/html-embed"></script>
    </div>

    <!-- <div>
        <img src="profilePics\kobe.bryant.png">
    </div> -->



</body>

</html>