<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/header'); %>
    </header>


    <div class="jumbotron">
        <p>Name:
            <%= accountInfo.firstName %>
                <%= accountInfo.lastName %>
        </p>
        <p>Department:
            <%= accountInfo.department %>
        </p>
        <p>Email:
            <%= accountInfo.email %>
        </p>
        <p>Tier Level:
            <%= accountInfo.tierLevel %>
        </p>
        <p>LinkedIn:
            <a href="<%=accountInfo.linkedIn %>">LinkedIn</a>
        </p>
    </div>
    <div class="jumbotron">
        <!-- include the upcoming meetings contents -->
        <h3>Your Upcoming Meetings</h3>
        <ul>
            <% if(calendar.length < 1){ %>
                <li>
                    No upcoming meetings!
                </li>
            <% } else{ %>
            <% calendar.forEach(function(meeting) { %>
                <li>
                    <%= meeting.month %>/<%= meeting.day %> @ <%= meeting.time %>
                </li>
            <% }); %>
            <% } %>
        </ul>
    </div>
    <div>
        <widgetbot server="955939246085115944" channel="955939246085115951" width="800" height="600"></widgetbot>
        <script src="https://cdn.jsdelivr.net/npm/@widgetbot/html-embed"></script>
    </div>
    <div>
        <img src="profilePics\kobe.bryant.png">
    </div>

</body>

</html>