<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header id="headerBlock">
        <%- include('../partials/header'); %>
    </header>

    <div class="menuBar">
        <ul>
            <li><a href="/gethome">Home</a></li>
            <li><a href="/meetings">Meetings</a></li>
            <li><a href="/mentors">Mentors</a></li>
            <li><a href="/chat">Chat</a></li>
        </ul>
    </div>

    <div class="content" id="openMentorTable">
        <h3 id="openMentorTableHeader">Mentors Available</h3>
        <table>
            <tr>
                <th colspan="2">Mentor Name</th>
                <th colspan="2">Tier Level</th>
            </tr>

            <% for (var i = 0; i < availableMentors.length; i++) { %>
                <tr>
                    <td>
                        <%= availableMentors[i].firstName %>
                    </td>
                    <td>
                        <%= availableMentors[i].lastName %>
                    </td>
                    <td>
                        <%= availableMentors[i].tierLevel %>
                    </td>
                </tr>
                <% } %>

        </table>
    </div>

    <div class="content" id="currentMentorShips">
        <h3 id="currentMentorShipsHeader">Mentor/Mentee Pairs</h3>
        <table>
            <tr>
                <th colspan="2">Mentor</th>

                <th colspan="2">Mentee</th>
            </tr>


            <% for (var i = 0; i < mentors.length; i++) { %>
                <tr>
                    <td>
                        <%= mentors[i].firstName %>
                    </td>
                    <td>
                        <%= mentors[i].lastName %>
                    </td>
                    <td>
                        <%= mentees[i].firstName %>
                    </td>
                    <td>
                        <%= mentees[i].lastName %>
                    </td>
                </tr>
                <% } %>

        </table>
    </div>
</body>

</html>